body{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header a {
    color: orangered;
}
header a:visited {
    color: orangered;
}
.topo{
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    top: 0;
    padding-top: 10px;
}
.rodape{
    width: 100%;
    height: 30px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    position: fixed;
    bottom: 0;
}
.rodape a{
    color: orangered
}
.rodape a:visited{
    color: orangered
}


#menu{
    font-size: 25px;
    height: 30px;
    margin-left: 20px;
    
   
}
button{
    margin: 20px;

}
li{
    color: black;
    list-style: none;
    margin-left: 0;
}
.folhacalendario{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 560px;
    height: 230px;
    color: cadetblue;
    border-radius: 15px;
    float: left;
    text-align: center;
}
.anunciopai{
    position: relative;
    display: block;
    background-color: lightgray;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 920px;
    color: black;
    border-radius: 15px;
    text-align: center; 
}
.anuncio{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.linha{
    width: 900px;
    height: 240px;
    margin: auto;
    
}
a{
    text-decoration: none;
    color: orangered;
    margin-top: 0;
}
a:visited{
    color: orangered;
}
a:hover{
    text-decoration: none;
    color: cadetblue;
}
footer{
    
    bottom: 0;
}
img{
    height: 240px;
    margin-left: 30px;
}